<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Summer_Internship_Backend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DummyServlet</servlet-name>
    <servlet-class>com.higradius.DummyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DummyServlet</servlet-name>
    <url-pattern>/dummy.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>Url</param-name>
    <param-value>jdbc:mysql://localhost:3306/h2hbabba3081</param-value>
  </context-param>
  <context-param>
    <param-name>Username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>Password</param-name>
    <param-value>****</param-value>
  </context-param>
</web-app>